<div>

  <p>{{info}}</p>

  <table class="inbox">
    <thead>
      <tr>
        <th><button class='head' (click)="sort('from')">From</button></th>
        <th><button class='head' (click)="sort('to')">To</button></th>
        <th><button class='head' (click)="sort('message')">Message</button></th>
        <th><button class='head' (click)="sort('time')">Time</button></th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let i of messages| orderBy: sorting">
        <td>{{i.from}}</td>
        <td>{{i.to}}</td>
        <td>{{i.message}}</td>
        <td>{{i.time | date : "medium"}}</td>
      </tr>
    </tbody>

  </table>

</div>
